html {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: url(resources/image/the-flatiron-building.png);
}
.heading {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size: auto;
  background-position: bottom;

}

.heading a {
  font-size: 18px;
  color: white;
}
.heading h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
    }
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight:bold;
}
p {
  font-size: 14px;
}

.divide {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-position: center;
  background-repeat: no-repeat;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
a {
  color: white;
}
